body {
  position: absolute;

  margin: 0px;

  user-select: none;

  width: 100vw;
  height: 100vh;

  background-color: #101010;

  overflow: hidden;
}

section {
  border: 0.5px solid #303030;
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  background-color: #202020;
}

#button {
  position: absolute;

  top: 1vmin;
  right: 1vmin;

  width: 4vmin;
  height: 4vmin;

  border: 0.5px solid #303030;
  box-sizing: border-box;
}

#viewport {
  position: relative;

  display: flex;

  float: left;

  justify-content: center;
  align-items: center;

  width: 70vw;
  height: 95vh;

  background-color: #101010;
}

#menu {
  position: relative;

  display: block;

  padding: 2vh 2vw;

  line-height: 6.25vh;

  float: right;

  width: 30vw;
  height: 95vh;

  overflow: hidden;

  background-color: #202020;
}

label {
  font-family: "Lucida Console", "Courier New", monospace;

  font-size: 1vw;

  color: #606060;

  vertical-align: middle;

  white-space: pre;
}

.number {
  display: inline-block;

  font-family: "Lucida Console", "Courier New", monospace;

  font-size: 1vw;

  width: 8vw;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.check {
  transform: scale(calc(1vw / 10px));
}

.radio {
  transform: scale(calc(1vw / 10px));
}

.button {
  font-family: "Lucida Console", "Courier New", monospace;

  font-size: 1vw;

  width: 8vw;
}

.line {
  margin: 4vh 0vw;
  border: 2px solid #303030;

  box-sizing: border-box;
}

#tablist {
  position: relative;

  display: block;

  width: 100vw;
  height: 5vh;

  background-color: #101010;
}

#viewport:has(~ #menu.hidden) {
  width: 100vw;
}

.hidden {
  display: none;
}

#button:hover {
  background-color: #303030;
}
